.page-header {
  border:none;
}
section,
.bs-region .nav {
  margin-bottom:30px;
}
h2.block-title,
.path-node h2#-menu {
  font-size:22px;
  text-transform:uppercase;
  margin-top:0;
  border-top:2px solid #1B94D2;
  padding-top:10px;
}
.view-security-and-safety-links .views-row {
  margin-bottom:30px;
}
#block-footer {
  float:left;
}
#block-copyrightblock {
  float:right;
  margin: 0;
  padding: 10px 15px;
}
